.rectangle {
    width: 402px;
    padding-top: 35px;
    height: 469px;
    border-radius: 12px;
    border: 2px solid #f0eded;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.1);    
}

@font-face {
    font-family: "font";
    src: url("C:/Users/corpu/Desktop/Programacio/Proyectos/imageUploader/fonts/Poppins-Regular.ttf") format("truetype");
}

.rectangle h1 {
    font-family: "font";
    text-align: center;
    font-size: 18px;
    color: #4f4f4f;
    margin-bottom: 20px;
}

.rectangle h2 {
    font-family: "font";
    text-align: center;
    font-size: 10px;
    color: #828282;
    margin-bottom: 20px;
}

.dropImg {
    width: 338px;
    height: 219px;
    border-radius: 12px;
    border: 2px dashed #97bef4;
    background-color: #f6f8fb;
    position: absolute;
    top: 50%; 
    left: 50%; 
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%); 
    justify-content: center;
    align-items: center;
}

.dropImg img {
    display: block;
    margin-bottom: 20px;
}

.dropImg p {
    margin: 0;
    margin-top: 10px;
    font-family: "font";
    text-align: center;
    font-size: 12px;
    color: #bdbdbd;
}

.rectangle h3 {
    margin: 0;
    margin-bottom: 40px;
    font-family: "font";
    text-align: center;
    font-size: 12px;
    color: #bdbdbd;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.rectangle button {
    border-radius: 10px;
    background-color: #1e90ff;
    border: 1px solid #1e90ff;
    font-family: "font";
    font-size: 14px;
    line-height: 16px;
    padding: 10px 16px;
    color: #FFFFFF;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

footer {
  position: fixed;
  font-family: "font";
  font-size: 14px;
  color: #a9a9a9;  
  bottom: 0;
  width: 100%; 
  padding: 20px 0;
  text-align: center;
}